.icon {
    background-color: #CCFF66;
    width: 600px;
    height: 200px;
    text-align: center;
    margin: 0 auto;
    line-height: 200px;
}
.icon_item {
    border-radius: 50%;
    width:80px;
    height:80px;
    margin: 0;

}
.icon_item:nth-child(1) {
    color:blue;
    background-color: #fff;
    padding: 0;
}
.icon_item:nth-child(2) {
    color: white;
    background-color:blue;
}
